.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  position: relative;
  gap: 15px;
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.14));
  width: 100%;
  padding-bottom: 20px;

}


.cards-img {
  object-fit:fill;
  height: 313px;


}

p.card-text{
  position: relative;
  align-items: center;
  justify-content: center;
}
.card-text {

  font-family: 'Jost';font-size: 16px;
  position: relative;
  color: #6d6d6d;
  text-align: justify;
  font-weight: 400;





}


.card-title {
  font-family: 'Jost';font-size: 20px;
  font-weight: 600;
  color: #212121;

}

.card-center {
  display: flex;
  flex-direction: column;
}

.cards {
  height: 100px;
}
